{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<style>
body {
  padding-top: 7.0rem;
}
</style>

<div class="d-flex justify-content-center align-items-center container mb-5">
  <div class="mb-3 col-sm-3 card p-3 bg-light">
    <form method="post">
      {% csrf_token %}
      <h4 class="text-center">Login page</h4>
      <br>
      <p><label for="id_username">Username:</label> <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username"></p>
      <p><label for="id_password">Password:</label> <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password"></p>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
      <br>
      <div class="text-center">
          Not registered yet?
          <a href="{% url 'accounts:signup' %}">Sign up</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
