{% extends 'store/base.html' %}
{% load static %}

{% block content %}


<style>
body {
  padding-top: 7.0rem;
}
</style>

<div class="d-flex justify-content-center align-items-center container">
  <div class="mb-3 col-sm-3 card p-3 bg-light">
    <form method="post">
      {% csrf_token %}
      <h4 class="text-center">Change your password</h4>
      <br>
      <p><label for="id_old_password">Old password:</label> <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"></p>
<p><label for="id_new_password1">New password:</label> <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1"> <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></p>
<p><label for="id_new_password2">New password confirmation:</label> <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2"></p>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Change</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}