{% extends './base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<main>

  {% if not user.is_authenticated %}
  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold"><i><q>I play each point like my life depends on it.</q></i> - Rafael Nadal</h1>
        <p class="lead text-muted">Wish to play like Rafa? You have come to the right place!
        Let's get you prepared for the court :)</p>
        <p>
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>
  {% endif %}

  {% if user.is_authenticated %}
  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Nice to see you, {{ user.first_name }}!</h1>
        <p class="lead text-muted">Check out your personalized offers:</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Let's go!</a>
        </p>
      </div>
    </div>
  </section>
  {% endif %}

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <a href="{{ product.get_absolute_url }}">
              <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
            </a>
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <div>
                  <a href="{{ product.get_absolute_url }}" role="button" class="btn btn-primary btn-sm">Details</a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

</main>
{% endblock %}